<div id="app">
  <page-header></page-header>

  <main class="site-content">
  <!--main-wrapper-->
			<div id="main-wrapper" class="clear-top-margin">
				<!--account details wrapper-->
				<div class="account-block padding-all box">
					<h1>Address</h1>
					<p>Edit your info below, and click save to complete.</p>

          <div class="account-loader fade-in">
              <div class="account-loader-icon-box">
                           <div class="account-loader-icon rotate-center"></div>
                            <p>Processing&#8230;</p>
              </div>
          </div>

					<!--form-->
					<form class="box">
            <!--error message-->
            <div v-if="modelState['error'] != undefined" class="box-highlight box relative">
                <h4>Error</h4>
                <p>{{ modelState.error }}</p>
            </div>
						<div class="form-column-2 flex-spacebetween">
							<div class="form-group">
                                <label>Address Line 1</label>
                                <input type="text" v-model="addressLine1">
                                <div class="required-temp box" v-if="modelState['MainAddressLine1'] !== undefined">{{ modelState.MainAddressLine1 }}</div>
							</div>

							<div class="form-group">
                                <label>Address Line 2</label>
                                <input type="text" v-model="addressLine2"/>
							</div>
						</div>

						<div class="form-column-3 flex-spacebetween">
							<!--city-->
							<div class="form-group">
								<label>City</label>
								<input type="text" v-model="mainCity">
                <div class="required-temp box" v-if="modelState['MainCity'] !== undefined">{{ modelState.MainCity }}</div>
							</div>

							<!--state-->
							<div class="form-group">
                                <label>State</label>
                                <select name="state">
                									<option value=""></option>
                								</select>
                                <div class="required-temp box" v-if="modelState['MainState'] !== undefined">{{ modelState.MainState }}</div>
                            </div>

              <!--post code-->
							<div class="form-group">
								<label>Postal Code</label>
								<input type="text" v-model="postalCode">
                <div class="required-temp box" v-if="modelState['MainPostalCode'] !== undefined">{{ modelState.MainPostalCode }}</div>
							</div>

							<!--country-->
							<div class="form-group">
                                <label>Country</label>
                                <input class="readonly" type="text" v-model="country" readonly>
                            </div>
						</div>

						<!--submit-->
                        <button type="button" class="submit-button" v-on:click="submit">Save</button>

						<!--reroute link back to details-->
                        <p class="account-return link-underscore-blue"><a href="/r/bo/account/details">Cancel</a></p>
						<!--<button class="back-link" onclick="enrollment.action.goBack('', '')">Cancel</button>-->
					</form>
				</div>
			</div>
	<!---------------------------------------------------------------------------------------------->
  </main>
  <page-footer></page-footer>

</div>
