<div id="app">
  <page-header></page-header>

      <main class="site-content">
      <!--main-wrapper-->
			<div id="main-wrapper" class="clear-top-margin">
				<!--account details wrapper-->
				<div class="account-block padding-all box">
					<h1>Account Details</h1>
					<p>Click the edit icon to make changes.</p>

					<!--non-editable-->
					<div id="account-noneditable" class="account-segment box slide-in-bottom-1">
						<ul class="flex-start">
							<!--member ID-->
							<li>
								<span class="account-label">Member ID</span>
								{{data.appUser.id}}
							</li>

							<!--member type, i.e. Charter Member, Fann, Marketing Specialist, Financial Specialist, Admin, Super User-->
							<li>
								<span class="account-label">Member Type</span>
                {{data.appUser.type}}
							</li>

							<!--status - i.e. Active, Inactive, Onhold, Cancelled, Terminated-->
							<li>
								<span class="account-label">Status</span>
								{{data.appUser.status}}
							</li>

							<!--tier - CM only-->
							<li v-if="data.appUser.typeNum === 1">
								<span class="account-label">Tier</span>
								{{data.appUser.tier}}
							</li>

							<!--enroller ID-->
							<li>
								<span class="account-label">Enroller ID</span>
								{{data.appUser.enrollerID}}
							</li>

							<!--enroller's name-->
							<li>
								<span class="account-label">Enroller&#8217;s Name</span>
								{{data.appUser.enrollerFirstName}} {{data.appUser.enrollerLastName}}
							</li>

							<!--country of residence-->
							<li>
								<span class="account-label">Country of Residence</span>
								{{data.appUser.country}}
							</li>
						</ul>
					</div>

					<!--editable-->
					<div id="account-editable" class="slide-in-bottom-2">
						<ul class="flex-start dont-break-out">
							<!--name-->
							<li class="relative account-segment">
								<span class="account-label">Name</span>
								{{data.appUser.firstName}} {{data.appUser.lastName}}

								<!--edit-->
								<a href="/r/bo/account/name"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--Email-->
							<li class="relative account-segment">
								<span class="account-label">Email</span>
								{{data.appUser.email}}

								<!--edit-->
								<a href="/r/bo/account/email"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--phone-->
							<li class="relative account-segment">
								<span class="account-label">Phone</span>
								+{{data.appUser.phoneCountryCode}} {{data.appUser.phoneNumber}}

								<!--edit-->
								<a href="/r/bo/account/phone"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--address-->
							<li v-if="data.appUser.typeNum === 1" class="relative account-segment">
								<span class="account-label">Address</span>
								{{data.appUser.addressLine1}} {{data.appUser.addressLine2}} {{data.appUser.city}}, {{data.appUser.state}} {{data.appUser.postalCode}}
								<!--edit-->
								<a href="/r/bo/account/address"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--birthdate-->
							<li v-if="data.appUser.typeNum === 1" class="relative account-segment">
								<span class="account-label">Date of Birth</span>
								{{data.appUser.birthDate.split('T')[0].split('-')[1]}}/{{data.appUser.birthDate.split('T')[0].split('-')[2]}}/{{data.appUser.birthDate.split('T')[0].split('-')[0]}}

								<!--edit-->
								<a href="/r/bo/account/birthdate" v-if="data.appUserRoles.includes('Admin')"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--gov. ID-->
							<li v-if="data.appUser.typeNum === 1" class="relative account-segment">
								<span class="account-label">Government-Issued ID</span>
								{{data.appUser.governmentID}}

								<!--edit-->
								<a href="/r/bo/account/govid" v-if="data.appUserRoles.includes('Admin')"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--business name, ID-->
							<li v-if="data.appUser.typeNum === 1" class="relative account-segment">
								<span class="account-label">Company Name & Business ID</span>
								{{data.appUser.company}} ({{data.appUser.businessID}})

								<!--edit-->
								<a href="/r/bo/account/businessinfo" v-if="data.appUserRoles.includes('Admin')"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--password-->
							<li class="relative account-segment">
								<span class="account-label">Password</span>
								**********

								<!--edit-->
								<a href="/r/bo/account/password"><div class="account-edit" title="Edit Info"></div></a>
							</li>

							<!--pay with commission-->
							<!--<li class="relative account-segment" v-if="data.appUser.typeNum === 1">
								<span class="account-label">Pay with Commission</span>
								{{data.appUser.payWithCommissionStartDate === null ? 'Disabled' : 'Enabled'}}

								<a href="/r/bo/account/paywithcomm" v-if="data.appUser.payWithCommissionStartDate === null"><div class="account-edit" title="Edit Info"></div></a>
                <a href="/r/bo/account/disablepaywithcomm" v-if="data.appUser.payWithCommissionStartDate != null"><div class="account-edit" title="Edit Info"></div></a>
							</li>-->
						</ul>

						<!--return-->
						<p class="account-return link-underscore-blue right-text"><a href="/account">Return to dashboard &#62;</a></p>
					</div>
				</div>
			</div>
			<!---------------------------------------------------------------------------------------------->

      </main>
  <page-footer></page-footer>

</div>
